.button-image{
    background: #e77312;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition-duration: 500ms;
}
svg{
    color: white;
}
.button-image:hover{
    background-color: #414141;
    transition-duration: 500ms;
    cursor: pointer;
}