.button-image{
    background: transparent;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition-duration: 500ms;
}
svg{
    color: white;
}
.button-image:hover{
    box-shadow: 0px 0px 10px #e77312;
    background-color: #e77312;
    transition-duration: 500ms;
    color: white;
    cursor: pointer;
}